
<button   mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>...</mat-icon>
  </button>
  <mat-menu   #menu="matMenu">
    <button  mat-menu-item>
      <span ><a  [routerLink]="['/Etudiants']">Liste des etudiants</a></span>
    </button>
    <button  mat-menu-item>
      <span><a  [routerLink]="['/profil']">Mon profil</a></span>
    </button>
    <button  mat-menu-item>
      <span><a  href="/Quitter">Quitter</a></span>
    </button>
  </mat-menu>

