<div class="example-button-row" style="text-align:right">
  <a mat-mini-fab color="primary" [routerLink]="['/Participant/add']" >+</a>
</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Date de naissance</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
        <th scope="col">Telephone</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Participant of Participants">
        <th scope="row">{{Participant.id}}</th>
        <td>{{Participant.nom}}</td>
        <td>{{Participant.prenom}}</td>
        <td>{{Participant.dateNaissance |  date:"MM/dd/yyyy"  }}</td>
        <td>{{Participant.age}}</td>
        <td>{{Participant.email}}</td>
        <td>{{Participant.telephone}}</td>
        <td><a id="delete" [routerLink]="['/Participant/List',Participant.id]" (click)="open(content,Participant.id)">  <i class="far fa-trash-alt"></i></a></td>
        <td><a [routerLink]="['/Participant/edit',Participant.id]">  <i class="far fa-edit"></i></a></td>
      </tr>
     
    </tbody>
  </table>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Suppression Des participants</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        Voulez vous supprimer ce participant?
      <!--<form>
        <div class="form-group">
          <label for="dateOfBirth">Date of birth</label>
          <div class="input-group">
            <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
            </div>
          </div>
        </div>
      </form>-->
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Yes</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">No</button>
    </div>
  </ng-template>





  
  
  